<div class="box">
  <p class="is-size-4 is-marginless">Loan Summary</p>
  <hr>
  <div class="columns">
    <div class="column">
      <SummaryItem @value={{this.payment}} @title={{"Monthly Payment"}} />
    </div>
    <div class="column">
      <SummaryItem @value={{this.totalPayment}} @title={{"Total Payment"}} />
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <SummaryItem @value={{this.totalInterest}} @title={{"Total Interest Paid"}} />
    </div>
  </div>
</div>