<div class="columns">
  <div class="column">{{this.id}}</div>
  <div class="column">${{format-currency this.principal}}</div>
  <div class="column">${{format-currency this.interest}}</div>
  <div class="column">${{format-currency this.cumulativePrincipal}}</div>
  <div class="column">${{format-currency this.cumulativeInterest}}</div>
  <div class="column">${{format-currency this.balance}}</div>
</div>