<div class="box">
  <p class="is-size-4">Amortization Schedule</p>
  <hr>
  <div class="columns">
    <div class="column">
      <p class="is-size-6 has-text-weight-semibold"> Payment Number</p>
    </div>
    <div class="column">
      <p class="is-size-6 has-text-weight-semibold"> Principal</p>
    </div>
    <div class="column">
      <p class="is-size-6 has-text-weight-semibold"> Interest</p>
    </div>
    <div class="column">
      <p class="is-size-6 has-text-weight-semibold"> Cumulative Principal</p>
    </div>
    <div class="column">
      <p class="is-size-6 has-text-weight-semibold"> Cumulative Interest</p>
    </div>
    <div class="column">
      <p class="is-size-6 has-text-weight-semibold"> Principal Balance</p>
    </div>
  </div>
  {{#each payments as |payment| }}
  <TableItem @id={{payment.id}} @principal={{payment.principal}} @interest={{payment.interest}}
    @balance={{payment.balance}} @cumulativePrincipal={{payment.cumulativePrincipal}}
    @cumulativeInterest={{payment.cumulativeInterest}} />
  {{/each}}
</div>