<div class="columns">
  <div class="column">{{this.id}}</div>
  <div class="column">${{this.principal}}</div>
  <div class="column">${{this.interest}}</div>
  <div class="column">${{this.cumulativePrincipal}}</div>
  <div class="column">${{this.cumulativeInterest}}</div>
  <div class="column">${{this.balance}}</div>
</div>