<div class="columns">
  <div class="column">
    <Calculator @onSubmit={{action "onSubmit"}} />
  </div>
  <div class="column">
    <Summary @payment={{this.payment}} @totalPayment={{this.totalPayment}} @totalInterest={{this.totalInterest}} />
  </div>
</div>
<div class="columns">
  <div class="column">
    <Table @payments={{this.payments}} />
  </div>
</div>